venv/
data/
.idea/
.vscode/
.env
.bin
.claude

**/*.log
**/*.bin
**/__pycache__/
dashboard/node_modules

# database files
db/mongo_data
db/pg_data

# to help with development
/sunbeam_old

# tests
.coverage
*.egg-info/